drafts/exercies.Rmd
drafts/
algpseudocode/*.aux
algpseudocode/*.fls
algpseudocode/*.log
algpseudocode/*.pdf
algpseudocode/*.fdb_latexmk
algpseudocode/TEMPLATE.png
.Rproj.user
.Rhistory
.RData
.Ruserdata
quantumalgos.Rproj
quantumalgorithms.org.Rproj
quantumalgos.log
compile.R
quantumalgorithms.sh
book/
_book/
quantumalgos.*
_bookdown.yml
